[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bsatorius
[access "refs/for/refs/*"]
	read = group user/bsatorius
	push = group user/bsatorius
	label-Code-Review = -2..+2 group user/bsatorius
	label-Verified = -1..+1 group user/bsatorius
	rebase = group user/bsatorius
	removeReviewer = group user/bsatorius
	submit = group user/bsatorius
[access "refs/heads/*"]
	read = group user/bsatorius
	create = group user/bsatorius
	push = +force group user/bsatorius
	pushMerge = group user/bsatorius
[access "refs/tags/*"]
	push = group user/bsatorius
	push = +force group user/bsatorius
